<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<style>
		body {
			font-family: monospace;
			font-size: xxx-large;
			text-align: center;
			background: #d3d3d3;
		}

		h1 {
			margin-top: 30vh;
		}

		#link {
			margin: auto;
			padding: 0.2em 1.5em;
			display: table;
			background: #fff;
		}

		a {
			color: #1e90ff;
			background: inherit;
			text-decoration: none;
		}

		a:hover {
			color: #00008b;
			text-decoration: underline;
		}
	</style>
	<title>Error 404</title>
</head>

<body>
	<h1>Error 404: Not found</h1>
	<div id="link"></div>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			document.getElementById('link').innerHTML =
				document.location.pathname.split('/')
				.filter((v, i) => !i || v)
				.map((v, i, a) =>
					`<a href="${a.slice(0, i + 1).join('/')}/">${v}/</a>`)
				.join('');
			const l = navigator.languages.find(l => ['fr', 'en'].includes(l)) || 'en';
			document.documentElement.lang = l;
			const trad = {
				'en': {
					title: 'Error 404',
					h1: 'Error 404: Not found',
				},
				'fr': {
					title: 'Erreur 404',
					h1: 'Erreur 404&nbsp;: Non trouvé',
				},
			};
			document.title = trad[l].title;
			document.querySelector('h1').innerHTML = trad[l].h1;
		}, { once: true });
	</script>
</body>

</html>
