<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<style>
			body {
				max-width: 70em;
				margin: auto;
				padding: 1em;
				font-family: monospace;
				font-size: xx-large;
				background: #d3d3d3;
			}
			h1 {
				margin: 0;
			}
			#link {
				display: table;
				padding: 0.2em 0.5em;
				background: #fff;
			}
			a {
				color: #1e90ff;
				background: inherit;
				text-decoration: none;
			}
			a:hover {
				color: #00008b;
				text-decoration: underline;
			}
			#list {
				list-style: none;
				padding: 0;
			}
			.info {
				font-size: inherit;
				color: #0000004f;
			}
			.size {
				color: #00000030;
			}
		</style>
		<title>Index</title>
	</head>
	<body>
		<h1>Index</h1>
		<div id="link"><a href="?f=js">[+]</a>&nbsp; &nbsp;<a href="..">../</a></div>
		<ul id="list">{{range . -}}
			<li>
				<span class="info">{{.ModTime.UTC.Format "[2006-01-02 15:04:05 UTC] "}}</span>
				{{- if .IsDir -}}
					<a href="{{.Name}}"/>{{.Name}}/</a>
				{{- else -}}
					<a href="{{.Name}}" download>{{.Name}}</a> <span class="info size" title="{{.Size}} o">({{.HSize}})</span>
				{{- end -}}
			</li>
		{{- end}}</ul>
</body>
</html>
